.container {
  width: 30vw;
  display: flex;
  border: 1px solid black;
  margin: 20px;
}

.container h5 {
  font-weight: 600;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.container img {
  width: inherit;
  height: 400px;
}

.movie {
  display: flex;
}
